@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: black;
    color: #ffffff;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 130px;
    display: flex;
    /*align-items: center*/
    justify-content: center;

}

#mgr-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


#mgr-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

#mgr-container h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }

  #mgr-container p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

#mgr-container p:hover {
    color: red;
}

#menu ul {
    padding-top: 10px;
    text-align: center;
    list-style: none; 
}

#menu ul li {
    display: inline;    
}

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a:hover{
   color: red;  
}


#geral{margin: 0 auto; width: 75%;}

#menu2 .administracao {
    color: aqua;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
}

#menu2 .d-flex {
    padding-top: 10px;
    float: right;
}

#menu2 ul {
    padding-top: 5px;
    padding: 5px 10px;
    text-align: justify;
    list-style: none;
}

#menu2 ul li {
    display: inline;  
}

body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 14px;
}

#menu2{width: 100%; height: 60px; float: left; margin-bottom: 100px; padding: 10px 10px;}




#conteudo{width: 100%; float: left; height: 100%;
  background: #ccc; padding: 20px; padding-top: 10px;}


#form_painel { width: 65%; margin: 0 auto; padding-top: 20px;}

#form_painel legend {
    padding: 5px 0px;
}

#paginacao{ width: 50%; float: right;}