@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: black;
    color: #ffffff;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#mgr-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}


#mgr-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

#mgr-container h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

#mgr-container p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

#mgr-container p:hover {
    color: red;
}

#menu ul {
    padding-top: 5px;
    text-align: center;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a:hover {
    color: red;
}


#geral {
    margin: 0 auto;
    width: 75%;
}

#menu2 {
    width: 100%;
    height: 50px;
    float: left;
    margin-bottom: 50px;
    padding-top: 10px;
}

#menu2 .administracao {
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: inline-block;
}

#menu2 .d-flex {
    padding-top: 10px;
    float: right;
}

.collapse.navbar-collapse {
    padding-top: 10px;
}

#menu2 li {
    display: flex;
    padding-top: 10px;
    padding: 5px 10px;
    text-align: justify;
    list-style: none;
    display: inline;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#conteudo {
    width: 100%;
    float: right;
    height: 200%;
    background: #ccc;
    padding: 20px;
}


#conteudo .row.g-3 {
    width: 65%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.mb-3 label {
    padding: 15px 0px 0px;
}

#form_painel legend {
    font-size: 20px;
    color: black;

}

#form_painel .form-check-input {
    width: 2em;
    height: 2em;
    margin-top: .30px;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 3em solid rgba(0,0,0,.25);
}

.form-check-input[type=checkbox] {
    border-radius: .30em;
}

#form_painel .form-control {
    padding: 5px 5px;
}

.btn.btn-primary {
    width: 80px;
    height: 30px;
    margin: 0 auto;
}

  input[type="submit"]:hover{
    background: #4ab3c6;
  }



/*#paginacao{ width: 50%; float: right;}*/